**/.env
**/.idea
**/.vscode

mounted/*

docker-compose.local.yml

volumes/root/.cargo/registry/*

volumes/root/bash_history/*
!volumes/root/bash_history/*.sample

volumes/usr/local/etc/redis/redis.conf

!.gitkeep