**/.env
**/.idea
**/.vscode

mounted/*

node/src/grpc/proto
rust/src/proto

docker-compose.local.yml

volumes/root/.cargo/registry/*

volumes/root/bash_history/*
!volumes/root/bash_history/*.sample

!.gitkeep