front/node_modules
front/.pnp
front/.pnp.js

front/coverage
front/build

front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*

node/dist/*
node/node_modules

rust/debug
rust/target/*
rust/*.pdb
**/*.rs.bk
**/mutants.out*/

mounted/*

.env
.idea
.vscode

docker-compose.local.yml

volumes/root/.cargo/registry/*

volumes/root/bash_history/*
!volumes/root/bash_history/*.sample

volumes/usr/local/etc/redis/redis.conf

!.gitkeep